.food-display {
	margin-top: 30px;
}

.food-display h2 {
	font-size: max(2vw, 24px);
	font-weight: 600;
}

.food-display-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	margin-top: 30px;
	gap: 30px;
	row-gap: 50px;
}

/* Style cho thông báo không tìm thấy */
.food-not-found {
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
    color: #555;
    width: 100%;
    padding: 20px;
}

.food-not-found p {
    font-weight: 500;
}
