/* admin/src/pages/Dashboard/Dashboard.css */
.dashboard.add {
    padding: 25px;
    color: #505050;
}

/* Định dạng các thẻ KPI */
.kpi-cards {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.kpi-card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 250px;
}

.kpi-card h4 {
    color: tomato;
    margin-bottom: 10px;
}

.kpi-card p {
    font-size: 24px;
    font-weight: 700;
}

/* Định dạng container biểu đồ */
.chart-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px; /* Giới hạn chiều rộng cho biểu đồ dễ nhìn */
}
.chart-container h4 {
    margin-bottom: 15px;
    color: #333;
}